// TODO: Move this somewhere else
// TODO: build css

// Reset styles
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// TODO: Try Poppins font
// Colors
// $mint: #a5ffd6;
$mint: #247ba0;
$white: #f4f4f4;
$black: #050505;
$grey: #656565;

// Font weights
$medium: 500;
$normal: 400;

// Images
$landing_img: '../assets/img/landing.jpg';
$items-1_img: '../assets/img/items-1.jpg';
$items-2_img: '../assets/img/man-at-computer.jpg';
$cta-form_img: '../assets/img/living-room.jpg';

p {
  font-size: 12.5px;
  color: $grey;
  line-height: 20px;
  transform: scale(1, 0.95);
}

h1,
h2,
h3,
h4 {
  transform: scale(1, 0.87);
}

h1 {
  font-size: 2.3em;
  font-weight: $medium;
  line-height: 44px;
}

h2 {
  font-size: 1.6em;
  font-weight: $medium;
  letter-spacing: 0.06em;
}

h4 {
  font-weight: $medium;
  font-size: 1.2em;
}

h5 {
  font-weight: $medium;
  font-size: 0.8em;
  transform: scale(1, 0.93);
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $mint;
  }
}

.tag {
  padding: 4px 15px;
  background: rgba($mint, 0.2);
  color: $mint;
  border-radius: 30px;
  font-size: 12px;
}

.site-main {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  letter-spacing: 0.04em;
  color: $black;

  .page-header {
    background: $white;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    transition: background-color 1.5s, color 1.5s, border 1.5s;
    .header-content {
      max-width: 980px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      .logo-container {
        width: 30%;
        height: 50px;
        margin-left: 30px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .header-items {
        display: flex;
        width: 50%;
        li {
          padding: 25px 25px;
          text-align: center;
          a {
            color: $black;
            text-decoration: none;
            &:hover {
              color: $mint;
            }
          }
        }
      }
      .cta-container {
        padding: 18px 0;
        a {
          text-decoration: none;
          cursor: pointer;
          .cta-button {
            padding: 7px 12px;
            color: $mint;
            text-align: right;
            border-radius: 30px;
            transition: background-color 0.4s, color 0.4s;
            &:hover {
              background: $mint;
              color: $white;
            }
          }
        }
      }
    }
    &.dark {
      background: $black;
      background-color: rgba(red($black), green($black), blue($black), 0.85);
      border-bottom: $black solid 1px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
      .header-items {
        li {
          a {
            color: $white;
          }
        }
      }
      .cta-container {
        a {
          .cta-button {
            background-color: $mint;
            color: $white;
            &:hover {
              background-color: lighten($mint, 10%);
            }
            &:active {
              // background-color: darken($mint, 4%);
              -webkit-box-shadow: inset 1px 1px 5px #333;
              -moz-box-shadow: inset 1px 1px 5px #333;
              box-shadow: inset 1px 1px 5px #333;
            }
          }
        }
      }
    }
  }

  .main-content {
    max-width: 980px;
    margin: 0 auto;
    .home {
      height: 100vh;
      position: relative;
      top: 20vh;
      .text-image-container {
        height: 100%;
        display: flex;
        position: relative;
        & > .image-content {
          width: 60%;
          .image-container {
            height: 70%;
            max-height: 500px;
            background-image: url($landing_img);
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-clip-path: polygon(
              40% 0%,
              0% 40%,
              0 100%,
              100% 100%,
              100% 0
            );
            clip-path: polygon(30% 0%, 0% 30%, 0 100%, 100% 100%, 100% 0);
          }
        }
        .text-content {
          width: 40%;
          .text-body {
            margin: 30px;
            // margin: 20% 60px 10% 60px;
            h1 {
              padding-bottom: 35px;
            }
            p {
              padding-bottom: 75px;
            }
            .scroll-link {
              font-weight: $medium;
              font-size: 14px;
            }
          }
          @media screen and (max-height: 700px) {
            .text-body {
              margin-top: 0;
              p {
                padding-bottom: 15px;
              }
            }
            .cta-container {
              position: static;
              padding: 15px 10px;
              width: auto;
              max-width: 150px;
              margin-top: 20px;
            }
          }
        }
      }
      .cta-container {
        position: absolute;
        bottom: 35vh;
        left: 35%;
        max-width: 90px;
        background: $mint;
        padding-top: 55px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 65% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 65% 0);
        color: $white;
        line-height: 20px;
        z-index: 1;
        .icon {
          padding-bottom: 10px;
        }
        &:hover {
          background: lighten($mint, 10%);
        }
      }
    }

    .text {
      padding: 80px 55px;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      h2 {
        padding: 60px 0;
      }
      .cta-link {
        font-weight: $medium;
        font-size: 14px;
      }
    }

    .items-1 {
      display: flex;
      padding: 40px 0;
      max-height: 700px;
      height: 100vh;
      .image-content {
        width: 60%;
        position: relative;
        margin-top: 90px;
        .image {
          height: 100%;
          width: auto;
          background-image: url($items-1_img);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
        .clip {
          position: absolute;
          bottom: 0;
          right: -1px;
          background: $white;
          width: 80px;
          height: 80px;
          -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
        }
      }
      .text-content {
        width: 40%;
        margin: 0 100px 0 95px;
        padding: 55px 0 135px 0;
        li {
          margin: 55px 0;
          padding-left: 35px;
          position: relative;
          h4 {
            padding-bottom: 15px;
          }
          .icon {
            position: absolute;
            height: 52px;
            width: 52px;
            background: $black;
            left: -120px;
            top: 15px;
          }
        }
      }
    }

    .carousel {
      padding-top: 100px;
      .header-container {
        width: 50%;
        margin: 0 auto;
        h2 {
          padding-bottom: 30px;
          text-align: center;
        }
      }
      .carousel-selectors {
        display: flex;
        padding: 50px 0;
        justify-content: center;
        li {
          padding: 0 20px;
          font-size: 12px;
          cursor: pointer;
          padding: 7px 19px;
          &.active {
            background: rgba($mint, 0.2);
            color: $mint;
            border-radius: 15px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .carousel-content {
        display: flex;
        .carousel-image {
          width: 50%;
          li {
            padding: 30px;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .carousel-text {
          width: 50%;
          li {
            padding: 100px 100px 100px 100px;
            h5 {
              margin-bottom: 10px;
            }
            h4 {
              margin-bottom: 5px;
            }
            .cta-link {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .items-2 {
      position: relative;
      max-height: 600px;
      margin-bottom: 20px;
      .section-content {
        display: flex;
        margin-top: 50px;
        .image-content {
          width: 50%;
          position: relative;
          .image {
            height: 100%;
            width: auto;
            background-image: url($items-2_img);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 80% 50%;
          }
          .clip {
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
            width: 100px;
            height: 100px;
            -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
            clip-path: polygon(100% 0, 0 100%, 0 0);
          }
        }
        .text-content-container {
          width: 50%;
          background: $black;
          color: $white;
          margin-top: 100px;
          .text-content {
            margin: 0 100px 0 30px;
            padding: 50px 0 50px 0;
            li {
              margin: 40px 0;
            }
          }
        }
      }
      .cta-container {
        position: absolute;
        bottom: 10%;
        left: 44%;
        max-width: 90px;
        background: $white;
        padding-top: 55px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 65% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 35%, 65% 0);
        color: $black;
        line-height: 20px;
        .icon {
          padding-bottom: 10px;
        }
      }
    }

    .cta-form {
      display: flex;
      padding-top: 100px;
      padding-bottom: 100px;
      .image-content {
        width: 50%;
        .image-container {
          padding: 30px;
          margin-top: 50px;
          img {
            width: 100%;
          }
        }
      }
      .text-content {
        width: 50%;
        height: auto;
        .text-container {
          padding: 30px 100px 30px 30px;
          margin-top: 50px;
          h2 {
            padding-bottom: 20px;
          }
          p {
            padding-bottom: 60px;
          }
          .gratis {
            margin-bottom: 40px;
          }
          .email-signup {
            input[type='text'] {
              height: 34px;
              width: 70%;
              border-radius: 2px;
              border: none;
              padding: 6px 40px 6px 6px;
              outline: none;
              font-size: 150%;
            }
            button[type='submit'] {
              height: 29px;
              width: 29px;
              border-radius: 30px;
              position: relative;
              right: 43px;
              top: -5px;
              border: none;
              background: $mint;
              color: $white;
              transition: 0.4s;
              cursor: pointer;
              i {
                position: relative;
                left: 1px;
              }
              &:hover {
                background: lighten($mint, 10%);
              }
              &:active {
                // background-color: darken($mint, 4%);
                -webkit-box-shadow: inset 1px 1px 5px #333;
                -moz-box-shadow: inset 1px 1px 5px #333;
                box-shadow: inset 1px 1px 5px #333;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    border-top: 1px solid $grey;
    margin-top: 50px;
    .footer-item {
      width: 25%;
      margin: 40px;
      list-style: none;
      h5 {
        font-weight: $medium;
        padding-bottom: 12px;
      }
      li {
        color: $grey;
        font-size: 80%;
        padding-bottom: 8px;
      }
      a:hover {
        color: $black;
      }
    }
    .logo-container {
      width: 100%;
    }
    .email-signup {
      padding-top: 10px;
      input {
        border: none;
        outline: none;
        border-radius: 2px;
        height: 22px;
        padding: 3px 30px 3px 3px;
        width: 70%;
      }
      button[type='submit'] {
        height: 18px;
        width: 18px;
        border-radius: 30px;
        position: relative;
        left: -30px;
        border: none;
        background: $mint;
        color: $white;
        transition: 0.4s;
        cursor: pointer;
        i {
          position: relative;
          left: 1px;
        }
        &:hover {
          background: lighten($mint, 10%);
        }
        &:active {
          // background-color: darken($mint, 4%);
          -webkit-box-shadow: inset 1px 1px 5px #333;
          -moz-box-shadow: inset 1px 1px 5px #333;
          box-shadow: inset 1px 1px 5px #333;
        }
      }
    }

    .sitemap,
    .social-media {
      width: 20%;
    }
    .email {
      width: 50%;
    }
  }
}
